@import "vars";
/*
** COMMON
*/
html{
  height: 100%;
}
body{
  font: 18px/1 open_sansregular, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: $colorBodyBg;
  height: 100%;
  overflow-x: hidden;
  @media (min-width: 1025px) {
    &.footer{
      &:after {
        content: '';
        display: block;
        position: fixed;
        bottom: 76px;
        left: 0;
        width: 100%;
        height: 1px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $baseWidth;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  &.wrapper__half_left{
    margin-right: 0;
    padding-right: 0;
    max-width: calc(#{$baseWidthHalf} - 16px);
  }
  &.wrapper__half_right{
    margin-left: 0;
    padding-left: 0;
    max-width: calc(#{$baseWidthHalf} - 25px);
  }
}

.clr,
.row,
.body_row,
.ui-tooltip-content{
  &::before, &::after {
      content: " ";
      display: table;
  }
  &::after {
      clear: both;
  }
}

.left{
  float: left;
}
.right{
  float: right;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-6,
.col-8{
  float: left;
}
.col-1{
  width: 8.33%;
  & + .col-1{
    padding-left: 10px;
  }
  & + .col-2{
    margin-left: 40px;
  }
}
.col-2{
  width: 16.66%;
  & + .col-1,
  & + .col-2{
    margin-left: 40px;
  }
}
.col-3{
  width: 25%;
  & + .col-3{
    padding-left: 20px;
  }
}
.col-6{
  width: 50%;
}
.col-offset-2{
  margin-left: calc(16.66% + 40px);
}

.button{
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  height: 32px;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
  &.button__big{
    padding: 0 15px;
    height: 2.8em;
    line-height: 2.8em;
  }
  &.button__middle{
    min-width: 80px;
    padding: 0 15px;
  }
  &.button__small{
    width: 32px;
  }
  &.button__small_height{
    height: 24px;
    line-height: 24px;
    margin-top: 25px;
  }
  &.button__yellow{
    background-color: #ffb600;
  }
  &.button__grey{
    background-color: #777d7f;
  }
  &.button__red{
    background-color: #d92127;
  }
  &.button__transparent{
    border: 1px solid #9d9d9d;
    color: #9d9d9d;
  }
  &.button__edit,
  &.button__delete{
    color: #787878;
    padding-top: 32px;
    line-height: 2;
    font-size: 12px;
    text-transform: none;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &.button__edit{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAA1ElEQVQoU42RsW0CUQBDn0VHDxOwQySaIAagYAsKdiArJEW2SMEACWmQ2IEN6K9CcuSv4wTK3XHuvr6fbP8vBsr2BphKetMQxvYK+AJGwO4pZPsF+AbGdcBnL2R7BhyBSQ3sgXUnZDvGAAGjE7CUVLVCtlMllVItOgNzSZcc/kG2MzajMz6KMUDAojboHdjW91VdKdUa9W26ltFSxj+ogWy/AocSL8n2VtJH2z/eQz/A4ga1mR823aX8lh+XSmKXSpLtXao9M3e+Xl9CA9n2EGMDSPoDcsRKH+iwkrcAAAAASUVORK5CYII=");
  }
  &.button__delete{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAdklEQVQ4T+2Suw2AMBBD7V2gYwYEO7AvnxUoYZeHFBFEEZAIDQXpzjk/XXyxLg6wSCr269V2mWp1FIFeUnMFTOit7SEAgFlS9cAcW7tjggxzsBgYJdWZgOk94BQiT6awHZ5/3gJRBALsrv4BHHl9LMTX/yAHsAF6spPdkcQqqQAAAABJRU5ErkJggg==");
    text-indent: -3px;
  }
  &.button__disabled{
    background: #9d9d9d;
    color: #d5d5d5;
  }
  &:hover{
    @include transform(translateY(-1px));
  }
  &:active{
    @include transform(scale(0.98));
  }
}

.button_activation{
  transition: .3s;
  cursor: pointer;
  &:hover{
    @include transform(translateY(-1px));
  }
  &:active{
    @include transform(scale(0.98));
  }
}

.button_right_b{
  float: left;
  width: calc(50% + 120px);
  text-align: right;
}

.label{
  display: block;
  position: relative;
  cursor: pointer;
  .select_pseudo,
  .input{
    margin-top: 7px;
  }
}

.select{
  display: none;
}
.select_pseudo,
.input,
.select_item{
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  background-color: #f3f3f3;
  color: #4c4c4c;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  font-variant: small-caps;
  width: 100%;
}
.select_pseudo{
  cursor: pointer;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAnElEQVRIS+2RsQkEIRBF/4KpVuA2YR+2oIltGViDfViBoRUYC3fMwcIeHDe7yEXnT0zG95k3W631gR9mWwWc3aWIM4SlaF5RzhmllI8gYwystV9L2BuMMZBSQmvtDaS1hvceQoi5Avrde0eM8fVSpJQIIUApNa/oINAGtAnFOYd931k4DbCKzpTjFuT+am4VXIWe51YBa20p+gNFT81nduHPKem7AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.select_list{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: pointer;
  background: #fff;
  z-index: 1;
  &.show{
    display: block;
  }
}
.select_item{
  transition: .2s;
  &:hover{
    background: #656b6d !important;
    color: #fff;
  }
}
.input{
  &.input__table,
  &.input__table:focus{
    background: #fff;
    border: 1px solid #c7c7c7;
  }
  &.input__disabled{
    background: #ffe8b0;
  }
  &.input__paginat{
    width: calc(100% - 48px);
    padding: 0;
    text-align: center;
  }
}
.input_pagination_b{
  font-size: 0;
}
.input_pagination{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: 50%;
  &.input_pagination__prev{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAUUlEQVQYV43P0QnAMAgE0N6e4ioxq4h7XlFoyEdC9fN8h4hnGxEZAAzAdHfL1Z7hs38wy4U7MB26sLCqGslB0iJiZnjKCt+Wp8J6sHNh4c6FF+/LezZ6WcbrAAAAAElFTkSuQmCC");
  }
  &.input_pagination__next{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAUklEQVQYV43QwQ0AIQhEUaZPYitiK4Q+ZwMHsyZuluv4PgcxxjCSk6RFxBIRuW254+vxFhTuBht3ggOr6gRgAJa7Wx54bxv/wYwLd2D9RhcmfgCs3Xs2lKH/qQAAAABJRU5ErkJggg==");
  }
}
.textarea,
.textarea:focus{
  height: 50px;
  width: 100%;
  background: #fff;
  border: 1px solid #c7c7c7;
  padding: 3px 6px;
}
.checkbox{
  display: none;
}
.checkbox_img{
  float: left;
  width: 24px;
  height: 24px;
  background-color: #bdc6c9;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAYAAACpUE5eAAAAgElEQVQ4T6XS0Q3AIAgE0DKDcV7pvMYZaGhigwYRrN/4gt7B9eO01goRYSeI6IZTT8NyzngErjBeLgxaWBjcYSHQg71grRUBoPRwAABTSrcMy4t9G1poBBuerKE8MPeMq2FVbUh5RuVFLu0OU0PRUC+2TFmiEcysDaM84Hmm/JoHI8aJTxf1a5kAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 20px 13px;
  .checkbox:checked + &{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAYAAACpUE5eAAAAiUlEQVQ4T6XSYQqAIAwF4HaV6HDRFSKcRFeIDhddZTHBUNHpzN/zY/oeDD/OOB8GgNATAGSh18th97lhF1jCeDk1KGFqsIapwBbMgdOyIxEYHw4R4HOtNgyrFfs2lFANFj05h7qBpGdcDalqUcopGl7k0tawbCg5tBUrphyiGkysDaM80PLM8GteT5hvnyQbEGMAAAAASUVORK5CYII=");
  }
  &.checkbox_img__small{
    width: 16px;
    height: 16px;
    background-size: 14px 12px;
    .checkbox:checked + &{
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAA1klEQVQoU42RMQ4BQRiF3x9KOiUN01EIB6HZQ9iN0ItYQU0lewZRuAa1aLAHwAEkxJMRs2Gz7E41mfzfvC/vFyQ8yhk3+MBKj5OylCRc2XYzV6Z3AAoALuCtnAhUrfGUQFeHiNA6zPvxicqZ1PjgBkBKK/pez3p98FfVWqRKuf0aYN0oHr3hKRYs2qOOUGafiiZIlD1ySRmYB1Jc3+sNVdvN8/4qJPupGID6EgWLoAqwGVb8AqPgYODdYriLr3IikoMW/4Kh5DN4q5gWY0EDA9jqRf9a1xN3pm/ncU0IdAAAAABJRU5ErkJggg==");
    }
  }
  &.checkbox_img__light{
    background-color: #f3f3f3;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAAc0lEQVQoU43Q0Q2AIAwE0CsLOA5JR3ApcSlHaMI4LgCkRAlBQPgtL9ceYfF5748YowNwhxB2WnEtYmb5hT2kYVM4QhmKCBtjLgAbETlr7amDGSqJLdZBXYTe1HZRVq3x8ym310OfGyuMGeqWo1gHo6R35QSThWGW2LG5dgAAAABJRU5ErkJggg==");
  }
}
.checkbox_label{
  display: block;
  padding-top: 2px;
  margin-left: 20px;
  &.checkbox_label__simple{
    color: #fff;
    font-variant: normal;
    font-size: 10px;
    padding-top: 0;
  }
}

.main_content{
  height: calc(100vh - 280px);
  overflow-y: auto;
  background: #fff;
  &.main_content__mid{
    height: calc(100vh - 370px);
  }
  &.main_content__gray{
    background: #ececec;
  }
  &.main_content__small{
    height: calc(100vh - 237px);
  }
  &.main_content__empty{
    height: calc(100vh - 359px);
  }
}

.row-white{
  padding: 15px 0;
  text-align: right;
  background: #fff;
}
/*
** END COMMON
*/