.login_main{
  background: url("../images/bg/bg-login.jpg")no-repeat 50%;
  background-size: cover;
  margin-left: 530px;
  height: 100%;
}
.login_main_title{
  color: #fff;
  font-size: 54px;
  font-family: open_sansbold, sans-serif;
  text-transform: uppercase;
  .logo{

  }
  .small{
    color: #373737;
    font-size: 30px;
  }
}