.mst{
  margin: 0 1.5rem;
  height: 10rem;
  background: #fafafa;
  box-shadow: 0 1rem 1.6rem rgba(175, 164, 160, 0.6);
  .logo{
    margin: 2.6rem 0 0 2.8rem;
    display: inline-block;
  }
  .logo_img{
    display: block;
    height: 4.7rem;
    width: 15.3rem;
  }
}