/*
** PAGINATION
*/
.pagination{
  color: #5d5d5d;
  font-size: 11px;
  margin-top: 6px;
  .pagination_show,
  .pagination_all{
    font-family: open_sansbold, sans-serif;
  }
}
.pagination_block{
  float: right;
  margin-top: 16px;
}
.pagination_button{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
  color: #3b3b3b;
  font-size: 11px;
  text-align: center;
  transition: .3s;
  vertical-align: top;
  &.pagination_button__prev,
  &.pagination_button__next{
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &.pagination_button__prev{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDEwIDYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwIDYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiM3ODc4NzgiIHBvaW50cz0iNS43NTcsMCAzLjc1NywwIDAuNzU3LDMgMy43NTcsNiA1Ljc1Nyw2IDIuNzU3LDMgIi8+PHBvbHlnb24gZmlsbD0iIzc4Nzg3OCIgcG9pbnRzPSI5Ljc1NywwIDcuNzU3LDAgNC43NTcsMyA3Ljc1Nyw2IDkuNzU3LDYgNi43NTcsMyAiLz48L3N2Zz4=");
  }
  &.pagination_button__next{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDEwIDYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwIDYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiM3ODc4NzgiIHBvaW50cz0iNC43NTcsMCA2Ljc1NywwIDkuNzU3LDMgNi43NTcsNiA0Ljc1Nyw2IDcuNzU3LDMgIi8+PHBvbHlnb24gZmlsbD0iIzc4Nzg3OCIgcG9pbnRzPSIwLjc1NywwIDIuNzU3LDAgNS43NTcsMyAyLjc1Nyw2IDAuNzU3LDYgMy43NTcsMyAiLz48L3N2Zz4=");
  }
  &.active,
  &:hover{
    background-color: #ebebeb;
  }
}
/*
** END PAGINATION
*/