/*
** PANEL TOP
*/
.panel_top{
  background: #bdc6c9;
  padding: 18px 0 10px;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.panel_title{
  text-transform: uppercase;
  font-family: open_sanssemibold, sans-serif;
  position: relative;
  &.panel_title__light{
    color: #fff;
  }
}
.panel_subtitle{
  display: inline-block;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  text-transform: capitalize;
  margin: 0.8em 0 0 3.3em;
  position: relative;
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background: #bdc6c9;
  }
  &:before{
    right: 50%;
    @include transform(skew(0deg, 45deg));
    box-shadow: 2px 6px 3px 0 rgba(0, 0, 0, 0.4);
  }
  &:after{
    left: 50%;
    @include transform(skew(0deg, -45deg));
    box-shadow: 1px 8px 3px -2px rgba(0, 0, 0, 0.4);
  }
}

.panel_button{
  display: inline-block;
  float: right;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  padding: 0 15px;
  line-height: 2.8em;
  &.panel_button__light{
    background: rgba(255,182,0,1);
  }
  &.panel_button__dark{
    background: rgba(119,125,127,1);
  }
}
/*
** END PANEL TOP
*/