/*
** PANEL TOP
*/
.panel_top{
  background: #bdc6c9;
  padding: 18px 0 10px;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  &.panel_top__slider{
    padding-left: 65px;
    padding-bottom: 16px;
    padding-right: 40px;
  }
}

.panel_title{
  text-transform: uppercase;
  font-family: open_sanssemibold, sans-serif;
  position: relative;
  &.panel_title__light{
    color: #fff;
  }
  &.panel_title__dark{
    display: inline-block;
    color: #000;
    font-size: 14px;
  }
}
.panel_subtitle{
  display: inline-block;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  color: #5d5d5d;
  font-variant: small-caps;
  white-space: nowrap;
  &.panel_subtitle__triangle{
    margin: 0.8em 0 0 3.3em;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 3px;
      width: 14px;
      height: 14px;
      background: #bdc6c9;
      @include transform(translateX(-50%) rotate(45deg));
      box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4)
    }
  }
  &.panel_subtitle__dark{
    color: #000;
  }
  &.panel_subtitle__link{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}


/*
** END PANEL TOP
*/