/*
** POPUP WELCOM
*/
.popup_welcom{
  width: 400px;
  height: 280px;
  background: #fff;
  padding-top: 40px;
  text-align: center;
}
.popup_logo{
  display: inline-block;
  background: url("../images/logo_black__popup.png")no-repeat;
  width: 202px;
  height: 68px;
}
.welcom_title{
  margin-top: 40px;
  color: #777d7f;
  line-height: 1.7;
  font-variant: small-caps;
}
/*
** END POPUP WELCOM
*/