/*
** POPUP
*/
.popup_welcome{
  width: 400px;
  height: 280px;
  background: #fff;
  padding-top: 40px;
  text-align: center;
}
.welcome_title{
  margin-top: 40px;
  color: #777d7f;
  line-height: 1.7;
  font-variant: small-caps;
}

.popup_main{
  position: relative;
  background: #fff;
  &.popup_main__small{
    width: 440px;
  }
  &.popup_main__big{
    width: 610px;
  }
}
.popup_header{
  line-height: 56px;
  background: #777d7f;
  color: #fff;
  font-size: 14px;
  font-family: open_sanssemibold, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
#cboxClose{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxyZWN0IHg9IjMuNjc4IiB5PSItMS4xNjMiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjcwNzEgLTAuNzA3MSAwLjcwNzEgLTAuNzA3MSA0LjMyNjkgOS41MjE0KSIgZmlsbD0iI0FFQUVBRSIgd2lkdGg9IjAuOTE0IiBoZWlnaHQ9IjEwLjA1NSIvPjwvZz48Zz48cmVjdCB4PSIzLjY3OCIgeT0iLTEuMTYzIiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxIDAuNzA3MSAtMC43MDcxIC0wLjcwNzEgOS43OTIzIDMuNjczMSkiIGZpbGw9IiNBRUFFQUUiIHdpZHRoPSIwLjkxNCIgaGVpZ2h0PSIxMC4wNTUiLz48L2c+PC9nPjwvc3ZnPg==")no-repeat 50%;
  cursor: pointer;
  text-indent: -9999px;
}
.popup_body{
  padding: 15px 10px;
}
.popup_col-4,
.popup_col-6,
.popup_col-8{
  float: left;
}
.popup_col-4{
  width: 30%;
}
.popup_col-6{
  width: 50%;
  &:nth-child(2n+1){
    padding-right: 10px;
  }
}
.popup_col-8{
  width: 70%;
  padding-left: 10px;
}
.popup_dt,
.popup_dd{
  line-height: 1.7;
  font-size: 14px;
}
.popup_dt{
  font-family: open_sanssemibold, sans-serif;
  font-variant: small-caps;
}
.popup_textarea{
  width: 100%;
  height: 72px;
  padding: 2px 5px;
  background: #fff;
  border: 1px solid #777d7f;
}
.popup_footer{
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #777d7f;
  text-align: right;
}
/*
** END POPUP
*/