/*
** RULES DESCRIPTION
*/
.rules_description {
  color: #73797b;
  font-size: 12px;
  padding: 25px 0 0 25px;
  background: #fff;
  height: calc(100vh - 236px);
  overflow-y: scroll;
  overflow-x: hidden;
  &.rules_description__slider{
    overflow: visible;
  }
}
.rules_title {
  display: inline-block;
  margin: 0.1em 3.1em 0 0;
  vertical-align: top;
  font-size: 22px;
  font-family: open_sanssemibold, sans-serif;
  &.rules_title__user{
    margin-left: 35px;
  }
}

.rules_subtitle{
  color: #005c7b;
  font-family: open_sanssemibold, sans-serif;
  margin: 1.6em 0 1.2em;
  padding: 0 0 0.4em;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150vw;
    border-bottom: 1px solid #005c7b;
  }
}
.rules_name{
  display: inline-block;
  font-size: 18px;
  font-family: open_sanssemibold, sans-serif;
  text-transform: uppercase;
  color: #ffb600;
}
.rules_status{
  float: left;
  font-family: open_sanssemibold, sans-serif;
  line-height: 1.4;
  margin-right: 8px;
}

.rules_creator{
  display: inline-block;
  font-size: 16px;
  font-family: open_sanssemibold, sans-serif;
  color: #000;
}

.rules_description_text{
  line-height: 1.4;
}

.rules_payment_wrap{
  position: relative;
  &.rules_payment_wrap__small{
    width: 72%;
  }
}
.rules_payment{
  &.rules_payment__available{
    float: left;
    width: 44%;
  }
  &.rules_payment__assigned{
    float: right;
    width: 47%;
  }
}
.rules_payment_title{
  font-size: 11px;
  font-family: open_sanssemibold, sans-serif;
  margin-bottom: 8px;
  &.rules_payment_title__orange{
    color: #ffb600;
  }
  &.rules_payment_title__gray{
    color: #5d5d5d;
  }
}
.rules_payment_list{
  padding: 4px;
  border: 1px dashed #acacac;
  min-height: 140px;
  max-height: 30vh;
  overflow-y: auto;
  &.rules_payment_list__numeric{
    padding-left: 25px;
    counter-reset: payment;
    .rules_payment_item{
      &:before{
        content: counter(payment);
        counter-increment: payment;
        left: -20px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: #575757;
        font-size: 10px;
        font-family: open_sansbold, sans-serif;
        text-align: center;
        line-height: 15px;
      }
      &.active{
        &:before{
          background: #ffb600;
        }
      }
    }
  }
}
.rules_payment_item{
  color: #fff;
  font-family: open_sansbold, sans-serif;
  background-color: #9d9d9d;
  line-height: 32px;
  padding: 0 35px 0 10px;
  position: relative;
  & + .rules_payment_item{
    margin-top: 2px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }
  &.rules_payment_item__checkbox{
    min-height: 40px;
    padding: 5px;
  }
  &.tick{
    &:before{
      right: 10px;
      width: 14px;
      height: 12px;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTQgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiNDQ0ZGN0MiIHBvaW50cz0iMTQsMy4wMTYgNS4wNjMsMTIgMC4wMTYsNi45NTMgMS45MjIsNS4wMTYgNC41NTUsNy42NDggMTEuNjAyLDAuNjAyICIvPjwvc3ZnPg==")no-repeat;
    }
  }
  .arrow{
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    width: 10px;
    height: 11px;
    &.arrow__up{
      right: 6px;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjExcHgiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiNGRkFFMDAiIHBvaW50cz0iMyw1IDMsMTEgNywxMSA3LDUgMTAsNSA1LDAgMCw1ICIvPjwvc3ZnPg==")no-repeat;
    }
    &.arrow__down{
      right: 20px;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjExcHgiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNyw2IDcsMCAzLDAgMyw2IDAsNiA1LDExIDEwLDYgIi8+PC9zdmc+")no-repeat;
    }
  }
}
.rules_payment_arrow{
  position: absolute;
  left: 48%;
  @include transform(translateX(-50%));
  width: 11px;
  height: 10px;
  &.rules_payment_arrow__right{
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMXB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMSAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiM4MjgyODIiIHBvaW50cz0iNiwzIDAsMyAwLDcgNiw3IDYsMTAgMTEsNSA2LDAgIi8+PC9zdmc+")no-repeat;
    top: 35px;
  }
  &.rules_payment_arrow__left{
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMXB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMSAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiM4MjgyODIiIHBvaW50cz0iNSw3IDExLDcgMTEsMyA1LDMgNSwwIDAsNSA1LDEwICIvPjwvc3ZnPg==")no-repeat;
    top: 70px;
  }
}
/*
** END RULES DESCRIPTION
*/