/*
** RULES
*/
.rules{
  background: #fff;
}

.rules_col{
  text-align: center;
  float: left;
  &:nth-child(1){
    width: 20%;
  }
  &:nth-child(2){
    width: 40%;
  }
  &:nth-child(3){
    width: 25%;
  }
  &:nth-child(4){
    width: 15%;
  }
}

.rules_body{
  overflow-y: scroll;
  height: calc(100vh - 300px);
}
.rules_button{
  background: #656b6d;
  height: 84px;
  border: 1px solid #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  &.active{
    .rules_body_text{
      &.rules_body_text__number {
        &:before{
          background: #409e01;
        }
      }
    }
    .rules_review{
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAzMiAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNi4xNjQsMC4zMTNDNS4wMzYsMC4zMTMsMCwxMC4wMSwwLDEwLjAxczUuMDM2LDkuNjk3LDE2LjE2NCw5LjY5N2MxMC44OTksMCwxNS44NjctOS42OTcsMTUuODY3LTkuNjk3UzI3LjA2NCwwLjMxMywxNi4xNjQsMC4zMTN6IE0xNi4xMzMsMTcuNzM3Yy00LjQwNSwwLTcuOTc3LTMuNDYtNy45NzctNy43MjhjMC00LjI2OCwzLjU3MS03LjcyOCw3Ljk3Ny03LjcyOHM3Ljk3NywzLjQ2LDcuOTc3LDcuNzI4QzI0LjEwOSwxNC4yNzgsMjAuNTM4LDE3LjczNywxNi4xMzMsMTcuNzM3eiIvPjxlbGxpcHNlIGZpbGw9IiNGRkZGRkYiIGN4PSIxNi4xMzMiIGN5PSIxMC4wMSIgcng9IjUuMjg2IiByeT0iNS4xMjEiLz48L2c+PC9zdmc+");
    }
  }
}
.rules_body_text{
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  &.rules_body_text__number{
    margin-top: 50px;
    font-size: 20px;
    font-family: open_sanssemibold, sans-serif;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -30px;
      left: 50%;
      @include transform(translate(-50%));
      width: 16px;
      height: 16px;
      background: #9e9e9e;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }
  &.rules_body_text__title{
    margin-top: 16px;
    color: #ffb600;
    font-size: 18px;
    font-family: open_sanssemibold, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.rules_review{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #454a4c;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAzMiAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiNCREM2QzkiIGQ9Ik0xNi4xNjQsMC4zMTNDNS4wMzYsMC4zMTMsMCwxMC4wMSwwLDEwLjAxczUuMDM2LDkuNjk3LDE2LjE2NCw5LjY5N2MxMC44OTksMCwxNS44NjctOS42OTcsMTUuODY3LTkuNjk3UzI3LjA2NCwwLjMxMywxNi4xNjQsMC4zMTN6IE0xNi4xMzMsMTcuNzM3Yy00LjQwNSwwLTcuOTc3LTMuNDYtNy45NzctNy43MjhjMC00LjI2OCwzLjU3MS03LjcyOCw3Ljk3Ny03LjcyOHM3Ljk3NywzLjQ2LDcuOTc3LDcuNzI4QzI0LjEwOSwxNC4yNzgsMjAuNTM4LDE3LjczNywxNi4xMzMsMTcuNzM3eiIvPjxlbGxpcHNlIGZpbGw9IiNCREM2QzkiIGN4PSIxNi4xMzMiIGN5PSIxMC4wMSIgcng9IjUuMjg2IiByeT0iNS4xMjEiLz48L2c+PC9zdmc+");
  background-size: 32px 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 20px;
}
/*
** END RULES
*/
