/*
** RULES DESCRIPTION
*/
.rules_description {
  color: #73797b;
  font-size: 12px;
  padding: 25px 0 0 25px;
  background: #fff;
  height: calc(100vh - 236px);
  overflow-y: auto;
  overflow-x: hidden;
}
.rules_title {
  display: inline-block;
  margin: 0.1em 3.1em 0 0;
  vertical-align: top;
  font-size: 22px;
  font-family: open_sanssemibold, sans-serif;
}

.rules_subtitle{
  color: #005c7b;
  font-family: open_sanssemibold, sans-serif;
  margin: 1.6em 0 1.2em;
  padding: 0 0 0.4em;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150vw;
    border-bottom: 1px solid #005c7b;
  }
}
.rules_name{
  display: inline-block;
  font-size: 18px;
  font-family: open_sanssemibold, sans-serif;
  text-transform: uppercase;
  color: #ffb600;
}
.rules_status{
  float: left;
  font-family: open_sanssemibold, sans-serif;
  line-height: 1.4;
  margin-right: 8px;
}

.rules_creator{
  display: inline-block;
  font-size: 16px;
  font-family: open_sanssemibold, sans-serif;
  color: #000;
}

.rules_description_text{
  line-height: 1.4;
}

.rules_payment_wrap{
  position: relative;
}
.rules_payment{
  &.rules_payment__available{
    float: left;
    width: 44%;
  }
  &.rules_payment__assigned{
    float: right;
    width: 47%;
  }
}
.rules_payment_title{
  color: #ffb600;
  font-size: 11px;
  font-family: open_sanssemibold, sans-serif;
  margin-bottom: 8px;
}
.rules_payment_list{
  padding: 4px;
  border: 1px dashed #acacac;
  min-height: 160px;
  max-height: 320px;
  overflow-y: auto;
  &.rules_payment_list__numeric{
    padding-left: 25px;
    counter-reset: payment;
    .rules_payment_item{
      &:before{
        content: counter(payment);
        counter-increment: payment;
        left: -20px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: #575757;
        font-size: 10px;
        font-family: open_sansbold, sans-serif;
        text-align: center;
        line-height: 15px;
      }
      &.active{
        &:before{
          background: #ffb600;
        }
      }
    }
  }
}
.rules_payment_item{
  color: #fff;
  font-family: open_sansbold, sans-serif;
  background-color: #9d9d9d;
  line-height: 32px;
  padding: 0 35px 0 10px;
  position: relative;
  & + .rules_payment_item{
    margin-top: 2px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }
  &.checked{
    &:before{
      right: 10px;
      width: 14px;
      height: 12px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAABM0lEQVQoU42SPUuCYRSGr1tfoj/QUEQNURBBg0k1BUbR0FBjFA1tQUtTEL7CSw7l5NDWP6jGhqAljaAPNfsfDWJBBH6c8BM1K5/tHM71PPd9n0f0eMw8X5bSXEDRhwqiXjgzlCF8BtoR2pxR9OJfsAKlcU8Fe/VHCoKNJnhrnhOSV+xUkLJIXNh+e1+XVTBj7qTBlQ9tNzzU+pGYYQetkNB1P/51Zc0dL0ECGALyZbQ8q2gqbe4REOlQcPOBsxaS96WUuUnBQstADuwctNsBJcBZDcr7rKb6YuHRMroDRv5I+B6clQbUXEfa3DFqcoe7wI9FnJV5ee/tXuvVkx1O+PFX4MHGgEFaFJaCiuU7L2zbYz3dJDAAvPZRXJzWSa6bhR8f4NkiUz7KcR/lrYCO337z/Q1YiWPzxOXqvQAAAABJRU5ErkJggg==")no-repeat;
    }
  }
  .arrow{
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    width: 10px;
    height: 11px;
    &.arrow__up{
      right: 20px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAYAAABGbhwYAAAAUUlEQVQYV9WR2w3AMAgD7ambTNBsfRWRiugjA4QvQCdkG6sUQJ1t+56zicX2INAkndXtT9+na+CQNBZwtz0yngU8oTjwzrFeTugDFhnxlIeUC27DL4FlGTAdAAAAAElFTkSuQmCC")no-repeat;
    }
    &.arrow__down{
      right: 6px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAYAAABGbhwYAAAATElEQVQYV2NkQAP/1zPUg4QYAxkakaUYkTlgRf8ZGsBijAwNyIrhClEUwXQjKQYrxKoITTEjXkXIilHcuI7hP4oHghjgTkP1zBBXCAAv+Cg5/uHBdwAAAABJRU5ErkJggg==")no-repeat;
    }
  }
}
.rules_payment_arrow{
  position: absolute;
  left: 47%;
  width: 11px;
  height: 10px;
  &.rules_payment_arrow__right{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAVElEQVQYV43QSwrAMAgE0M7Bxd/BLRYEN1qzTN6MSfAMy92ZiLQfY8JmFgCkB1acRT2AbJjaa78CJ1wTzjgi9IQTMrP8PrDgd5Xt6zpcsapKju5lL+VZOBYwUCjQAAAAAElFTkSuQmCC")no-repeat;
    top: 35px;
  }
  &.rules_payment_arrow__left{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAWElEQVQYV42QWQrAMAhE68Hd8OAWC4oJIdU/xzdu8GxhZoyIuuuRQxcDdHchokVPpsQEo3CFO3gaX52n4LezqgoA8K3jsvPUUAd2w+83YlQaRnAamFlON7xbMS4fv03W+QAAAABJRU5ErkJggg==")no-repeat;
    top: 70px;
  }
}
/*
** END RULES DESCRIPTION
*/