/*
** TOOLTIP
*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

.ui-front {
  z-index: 100;
}
/* END Layout helpers
----------------------------------*/

.ui-tooltip {
  position: absolute;
  z-index: 9999;
  line-height: 40px;
  padding: 0 10px;
  color: #000;
  font-family: open_sansregular, sans-serif;
  font-size: 14px;
  background: #fff;
  border: 1px solid #777d7f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  .arrow{
    position: absolute;
    top: 100%;
    left: 20%;
    width: 16px;
    height: 16px;
    margin-top: -7px;
    background: #fff;
    border-right: 1px solid #777d7f;
    border-bottom: 1px solid #777d7f;
    @include transform(rotate(45deg));
  }
}
.tooltip_content{
  min-width: 450px;
  padding: 15px 0;
}

.tooltip_col_1,
.tooltip_col_2{
  float: left;
  line-height: 1.7;
}
.tooltip_col_1{
  width: 30%;
  font-family: open_sanssemibold, sans-serif;
  text-align: right;
  font-variant: small-caps;
}
.tooltip_col_2{
  width: 70%;
  padding-left: 10px;
}

.tooltip_link{
  text-decoration: underline;
  cursor: pointer;
}
/*
** END TOOLTIP
*/