-var squareBlockMain = {className:'sq-blc_main',arrTitle:['тесты','подбор автомобиля','новости','вопрос к эксперту'],arrImg:['sqblcmain_1','sqblcmain_2','sqblcmain_3','sqblcmain_4'],time:true}
-var squareBlockLc = {className:'sq-blc_lc',arrTitle:['СТАТИСТИКА заявок','Пополнить баланс','Виджет','Нравится'],arrImg:['lc_1','lc_2','lc_3','lc_4']}
-var squareBlockLcEks = {className:'sq-blc_lc-eks',arrTitle:['заданные вопросы','виджет'],arrImg:['lc_eks_1','lc_eks_2']}
-var panelMain = {arrTitle:['HYUNDAI','HYUNDAI','HYUNDAI'],arrTitleSm:['i10','Elantra','Sonata']}
-var circleDiagram = ['86','75','64','43','43']
-var brand = ['bmw','citroen','chevrolet','hyundai','fiat','volvo','audi','honda','lexus','mercedes','ford','mazda','peugeot','nissan','renault','skoda','kia','landrover','isuzu','porsche','subaru','pontiac','opel','toyota','mitsubishi','cadilac','lada','vw']
-var selectModel = ['Модель','Модель1','Модель2']
-var selectTema = ['Тема','Тема1','Тема2']
-var cost = {arrTitle:['КАСКО','ОСАГО','Транспортный налог','Техническое обслуживание','Потеря стоимости','Расходы на топливо'],arrCost:['75 000','7 000','8 000','14 000','200 000','60 000']}
-var ratingArr = ['Внешний вид','Надежность','Комфорт','Ходовые качества','Безопасность']
-var pay = ['оплата онлайн','оплата онлайн2','оплата онлайн3']
-var tarif = ['тариф','тариф2','тариф3']
-var service = ['Услуга','Услуга2','Услуга3']
