include ../vars
include ../mixins

block header
    header.header
        include mst
        .header_title.
            МЫ ПОМОЖЕМ ВАМ<br>
            ПОДОБРАТЬ АВТОМОБИЛЬ<br>
            ВАШЕЙ МЕЧТЫ!<br>