block header
    header.header.clr
        .wrapper
            a.logo_link(href='/')
                img.logo(src='images/black_logo__small.png' alt='Unified Payment Gateway')
            .header_top
                .greeting Hello, <a class="greeting_name" href="#">Admin</a>!
                a.log_off(href='index1.html') Log off
            nav.menu
                ul.menu_list
                    each val, i in ['Rules','Processors','Transactions','Reports','Logs','Users','Configuration','License']
                        li.menu_item
                            a.menu_link(class= i == 0 ? 'active' : '')(href='/')= val