block panel_top
   section.panel_top
      .wrapper
         button.button.button__big.button__yellow.right Create New Rule
         h2.panel_title.panel_title__light Processor Selection
         h4.panel_subtitle.panel_subtitle__triangle Rules Parametres