.popup_main.popup_main__big
   .popup_header
      h4.popup_title Processor Details
   .popup_body
      .popup_content.clr
         each val in [['Processor Transaction ID','2235575474'],['Processor','Authorize.net'],['Type','Authorization'],['Status','Approved'],['Amount','25.00'],['Date','06/22/2015 12:30:50 PM'],['Response Code','11']]
            .popup_col-6
               .popup_dt.text-right #{val[0]}:
            .popup_col-6
               .popup_dd= val[1]
         .popup_dt Response Message:
            textarea.popup_textarea
         .popup_dt Failure Message:
            textarea.popup_textarea
         each val in [['Process Start Time','06/22/2015 12:30:50 PM'],['cess End Time','06/22/2015 12:30:50 PM']]
            .popup_col-6
               .popup_dt.text-right #{val[0]}:
            .popup_col-6
               .popup_dd= val[1]
      .popup_footer
         button.button.button__middle.button__transparent(title='Close') Close
