.popup_main.popup_main__small
   .popup_header
      h4.popup_title Transaction Details
   .popup_body
      .popup_content.clr
         each val in [['Transaction ID','05daeeab-23a0-487c-a4a5-7e1b9ad7d8e8'],['Date','06/22/2015 12:30:54 PM'],['User','Server$'],['Order ID','635705730407243751'],['Authorization Code','X6TYWJ'],['Avs Response','Address and zip five match - Y'],['Cvv Response','Not processed - P'],['Cavv Response','Passed - 2']]
            .popup_col-4
               .popup_dt.text-right #{val[0]}:
            .popup_col-8
               .popup_dd= val[1]
      .popup_footer
         button.button.button__middle.button__transparent Close
         button.button.button__middle.button__grey.m-l-sm Show Credit Card Details