block slider_2
   section.slider(data-slide='2')
      .slider_close.button_activation(data-slide-close)
      .slider_delete.button_activation Delete

      include slider_panel_2

      include slider_content_2