block slider_panel_1
   section.panel_top.panel_top__slider
      form
         .row
            .col-2
               h3.panel_title.panel_title__dark configuration
            .col-2
               a.panel_subtitle.panel_subtitle__dark.panel_subtitle__link(href='' data-slide-open='2' title='Code Mapping') Code Mapping
         .row.m-t-md
            .col-2
               h5.panel_subtitle.panel_subtitle__dark.m-t-lg Authorize.net
            .col-2
               +selectSuper('Configuration Set', 'Sandbox')
            .col-2
               +labelInput(1, 'Transaction Fixed Fee', '0.30')
            .col-2
               +labelInput(2, 'Transaction Percentage Fee', '2.90')
            .right
               .pagination Showing <span class="pagination_show">1-4</span> of <span class="pagination_all">20</span> items.
               .pagination_block
                  button.pagination_button.pagination_button__prev
                  button.pagination_button 1
                  button.pagination_button.active 2
                  button.pagination_button 3
                  button.pagination_button.pagination_button__next