block slider_panel_1
   section.panel_top.panel_top__slider
      form
         .row
            .col-2
               h3.panel_title.panel_title__dark configuration
            .col-2
               a.panel_subtitle.panel_subtitle__dark.panel_subtitle__link(href='' data-slide-open='2') Code Mapping
         .row.m-t-md
            .col-2
               h5.panel_subtitle.panel_subtitle__dark.m-t-lg Authorize.net
            .col-2
               div.label(data-select)
                  .panel_subtitle Configuration Set
                  select.select
                     option(selected) Sandbox
                  .select_pseudo Sandbox
                  ul.select_list
                     - for (var i=0; i < 5; i++)
                        li.select_item.body_row(data-select-item) Sandbox#{i}
            .col-2
               label.label(for='input_1')
                  span.panel_subtitle Transaction Fixed Fee
                  input.input(id='input_1' placeholder='0.30' type='text')
            .col-2
               label.label(for='input_2')
                  span.panel_subtitle Transaction Percentage Fee
                  input.input(id='input_2' placeholder='2.90' type='text')
            .right
               .pagination Showing <span class="pagination_show">1-4</span> of <span class="pagination_all">20</span> items.
               .pagination_block
                  button.pagination_button.pagination_button__prev
                  button.pagination_button 1
                  button.pagination_button.active 2
                  button.pagination_button 3
                  button.pagination_button.pagination_button__next