block slider_2
   section.slider(data-slide='2' data-prevent-scroll)
      .slider_close.button_activation(data-slide-close title='Close')

      include slider_panel_2

      include slider_content_2