.news-item{
  padding: 1.5rem 0;
  border-bottom: 1px dotted #cecece;
}
.news-item_preview{
  .preview_img{
    float: left;
  }
  .preview_text{
    margin: 0 0 0 24rem;
  }
  .preview_title{
    padding: 0 0 4rem;
    position: relative;
    .text{
      font-family: proxima_nova_ltsemibold;
    }
    .time{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.news-item_cont{
  display: none;
}