include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head
    body
        .wrapper
            div.m-t-lg: a(href='index1.html') Главная
            div: a(href='index2.html') Личный кабинет
            div: a(href='index3.html') Выбор теста
            div: a(href='index4.html') Тест прохождение
            div: a(href='index5.html') Выбор авто
            div: a(href='index6.html') Новости
            div: a(href='index7.html') Вопрос к эксперту (выбор марки)
            div: a(href='index8.html') Вопрос к эксперту (форма отправки)
            div: a(href='index9.html') Карточка авто полная
            div: a(href='index10.html') Личный кабинет (эксперт)
            div: a(href='index11.html') Личный кабинет (пополнить баланс)
            div: a(href='index12.html') Личный кабинет (статистика)
        script(src='scripts/scripts.js')