extends index4
include includes/vars
include includes/mixins

block panelTest
    .panel-main.m-t-sm
        .panel-main_title
            h3 По результату теста, Вам могут подойти следующие автомобили
        .panel-main_body.panel-test
            .clr.m-b-lg
                h4.left <span class="font-bold">HYUNDAI</span> i10
                .right цена: <span class="font-bold">1 890 000 – 2 390 000</span> <span class="rubl">a</span>
            ul.bxslider-test
                - for (var i=0; i < 5; i++)
                    li.bxslider-test_item
                        img.bxslider-test_item-img(src='images/retina/test_rez.jpg')
                        .circle-diagram(data-circle-diagram='{"percent": "' + circleDiagram[i] + '%"}')
                        .big-picture
            h3.m-t-lg Стоимость владения за год
            ul.cost.m-t-xl
                - for (var i=0; i < cost.arrTitle.length; i++)
                    li.cost-item.clr
                        .left= cost.arrTitle[i]
                        .right
                            span.num= cost.arrCost[i]
                            span.rubl.m-l-xs a
                h3.semi-bold.m-l-lg ИТОГО:
                    span.total-cost.m-l-xs 364 000
                    span.rubl.m-l-xs a
            h3.m-t-lg Рейтинг
            ul.rating-list.m-t-lg.clr
                each val in ratingArr
                    li.rating-item
                        .left= val
                        .rating_stars.right
                            .star.act
                            .star.act
                            .star.act
                            .star.act
                            .star
            h3.total-rating.semi-bold.m-t-lg Общая оценка: 9.4
                .rating_stars.right
                    .star.act
                    .star.act
                    .star.act
                    .star.act
                    .star
            .panel-submit.m-t-xl
                h3.
                    Отправте заявку дилерам для получения лучшего
                    ценового предложения
            .text-center.m-t-xl
                a.btn.btn_bg.form-popup_link(href='#form-popup-app') ОТПРАВИТЬ ЗАЯВКУ
            form#form-popup-app.form-popup.form-popup_balance.mfp-hide
                .close.close_black
                h2.lc-popup_title Заявка дилерам
                .m-l-lg.m-t-lg Марка: <span>Audi</span>
                .m-l-lg.m-t-lg Модель: <span>Q7</span>
                +selectSuper('Дополнительные услуги', service)(class='m-t-md')
                input.input-text.m-t-lg(type='text' placeholder='Бюджет')
                input.input-text.m-t-lg(type='text' placeholder='Ф.И.О.')
                input.input-text.m-t-lg(type='text' placeholder='Телефон')
                input.input-text.m-t-lg(type='text' placeholder='Почта')
                .text-center.m-t-lg
                    .btn.btn_bg ОТПРАВИТЬ
            .m-t-lg.m-l-n-lg.m-r-n-lg
                .btn-up

block panelMain
    +panelMain(panelMain, false, true)