extends index3
include includes/vars
include includes/mixins

block cont
    +titleContentMain('название теста', 'Статус прохождения')
    form.form-question.m-t-lg.m-b-md
        h4.font-bold.
            Вопрос <span class='text-red'>4</span> из <span>15</span>. С каким животным вы себя ассоциируете?
        .m-t-lg.font-bold
            +radio('Вариант ответа №1', 'test')
        .m-t-md.font-bold
            +radio('Вариант ответа №2', 'test')
        .m-t-md.font-bold
            +radio('Вариант ответа №3', 'test')
        .m-t-md.font-bold
            +radio('Вариант ответа №4', 'test')
    .m-b-n-lg.m-l-n-lg.m-r-n-lg
        .prev-next.clr
            .btn-prev назад
            .btn-next дальше

block panelMain
    +panelMain(panelMain)