extends index3
include includes/vars
include includes/mixins

block selectMainImg
    .select-main_img.news.img_sm
    .select-main_cont.auto
        block cont
            +titleContentMain('новости')
            .news.m-t-sm
                ul.news-list
                    - for (var i=0; i < 4; i++)
                        li.news-item
                            .news-item_preview.clr
                                img.preview_img(src='images/retina/news.jpg')
                                .preview_text
                                    .preview_title.
                                        <span class='text'>Инициатор предлагает уже к концу 2015
                                        года увеличить штраф для поклонников
                                        излишней тонировки с нынешних 500 до
                                        1 500 – 2 000 рублей.</span>
                                        <span class='more-info'>подробнее</span>
                                        <div class='time'>24 июля 2015 в 07.41</div>
                            .news-item_cont
                                p.m-t-md.
                                    Группа инициаторов собирается увеличить до конца 2015 года штраф
                                    за чрезмерную тонировку с нынешних 500 рублей до 1 500 – 2 000
                                    рублей. Предполагается, что к началу 2016 года нарушителям
                                    придётся столкнуться с новой нормой. Напомним, ранее за данное
                                    правонарушение хотели как повысить штраф до 1 000 - 1 500 рублей,
                                    так и ввести такую наказание, как лишение прав (за третий
                                    зафиксированный инспектором ГИБДД случай).
                                p.m-t-md.
                                    Также Вячеслав Лысаков намерен внести правки в КоАП: он
                                    предлагает наказывать рублём тех, кто выбрасывает мусор из окон
                                    автомобиля. По его мнению, за данное деяние необходимо ввести
                                    штраф в размере 2 000 рублей. "Пришло время привлекать к
                                    ответственности таких граждан, которые отличаются крайне низкой
                                    культурой, что мы в этом году и сделаем", – уверенно заявил депутат.

block panelMain