extends index3
include includes/vars
include includes/mixins

block selectMainImg
    .select-main_img.expert.img_bg
    .select-main_cont.expert
        block cont
            +titleContentMain('Вопрос к эксперту')
            h4.m-t-xs Выбор марки автомобиля
            form.form-select-auto.m-t-md
                input.input-text(type='text' placeholder='AUDI')
                +selectSuper('Модель', selectModel)(class='m-t-md')
                +selectSuper('Тема', selectTema)(class='m-t-md')
                input.input-text.m-t-md(type='text' placeholder='Ф.И.О')
                input.input-text.m-t-md(type='text' placeholder='Почта')
                textarea.textarea.m-t-md(placeholder='Ваш вопрос эксперту')
                .text-center.m-t-md
                    .btn.btn_bg отправить

block panelMain
