extends index1

block login_form
    form.login_form.clr
        .form_text Please enter your valid email address below
        .form_group.correct
            input.form_input.hover(type='text' placeholder='Email address' title='Email address')
        .form_group
            button.form_button.hover(title='Request new password') Request new password
        .form_group
            a.form_link.form_text(href='index1.html' title='Back to Log in') Back to Log in