extends index1
include includes/vars
include includes/mixins

block content
    .sq-blc.select-main.m-t-sm
        block closeBtn
            .close.close_white
        block selectMainImg
            .select-main_img.test.img_bg
            .select-main_cont.test
                block cont
                    +titleContentMain('тесты')
                    - for (var i=1; i<6; i++)
                        h4.font-bold.m-t-lg.m-l-lg
                            a(href='#') Название теста #{i}

    block panelTest