extends index3
include includes/vars
include includes/mixins

block selectMainImg
    .select-main_img.auto.img_sm
    .select-main_cont.auto
        block cont
            +titleContentMain('Подбор автомобиля')
            form.form-social.m-t-lg
                h3.semi-bold Социальный поиск
                h3.semi-bold.m-t-xl.m-b-md Пол
                +radioPicture('Мужской', 'sex', 'men')(class='m-r-lg')
                +radioPicture('Женский', 'sex', 'women')
                h3.semi-bold.m-t-xl Возраст
                    +radioLink('до 24', 'age')(class='m-r-md m-l-xxl')
                    +radioLink('25-34', 'age')(class='m-r-md')
                    +radioLink('35-44', 'age')(class='m-r-md')
                    +radioLink('старше 45', 'age')
                h3.semi-bold.m-t-xl.m-b-md Состав семьи
                +radioPicture('Нет пары', 'family', 'one')(class='m-r-lg')
                +radioPicture('Пара', 'family', 'two')(class='m-r-lg')
                +radioPicture('3-4', 'family', 'three')(class='m-r-lg')
                +radioPicture('5 и больше', 'family', 'more')
                h3.semi-bold.m-t-xl.m-b-md Машина для
                +radioPicture('Путешествий', 'for-what', 'travel')(class='m-r-lg')
                +radioPicture('Природы', 'for-what', 'nature')(class='m-r-lg')
                +radioPicture('Новичков', 'for-what', 'lamer')(class='m-r-lg')
                +radioPicture('Дачи', 'for-what', 'country-house')(class='m-r-lg')
                +radioPicture('Города', 'for-what', 'city')(class='m-r-lg')
                +radioPicture('Драйва', 'for-what', 'drive')
                h3.semi-bold.m-t-xl.m-b-md Цена, <span class='rubl'>a</span>
                span от
                input.input-text.sm.m-l-sm.m-r-xl(type='text' name='price-from' placeholder='2500000')
                span до
                input.input-text.sm.m-l-sm(type='text' name='price-to' placeholder='3700000')

block panelMain
    +panelMain(panelMain)