extends index0

block main

    include includes/blocks/panel_top

    include includes/blocks/rules

    include includes/blocks/slider_1

    include includes/blocks/slider_2

    block slider_4
        section.slider.slider__small(data-slide='4' data-prevent-scroll)
            .slider_close.button_activation(data-slide-close title='Close')

            section.rules_description.rules_description__slider
                .wrapper.wrapper__half_right.clr
                    h2.rules_title.rules_title__user Rule #1
                    .button.button__small.button__yellow.button__edit(title='Edit') Edit
                    .button.button__small.button__red.button__delete.m-l-sm(title='Delete') Delete

                    h5.rules_subtitle Rule Name
                    .col-6.col-6__block
                        input.input.rules_name(id='input_1' type='text' placeholder='Rule name')
                    .right
                        .rules_status Active<br>Status
                        button.button.button__small.button__yellow.m-r-n-inlblc(title='On') on
                        button.button.button__small.button__grey.button__disabled(title='Off') off

                    h5.rules_subtitle Creator Name
                    .rules_creator Patrick Blacknight
                    .right patrickblacknight@gmail.com

                    h5.rules_subtitle Description
                    textarea.textarea.textarea__grey(placeholder='Description text')

                    h5.rules_subtitle.text-upper Payment Processors
                    .rules_payment_wrap
                        .clr
                            .rules_payment.rules_payment__available
                                .rules_payment_title.rules_payment_title__orange Available
                                ul.rules_payment_list(data-scroll)
                                    - for (var i=0; i < 12; i++)
                                        li.rules_payment_item.tick.button_activation Authorize.net
                            .rules_payment_arrow.rules_payment_arrow__right
                            .rules_payment_arrow.rules_payment_arrow__left
                            .rules_payment.rules_payment__assigned
                                .rules_payment_title.rules_payment_title__orange Assigned
                                ul.rules_payment_list.rules_payment_list__numeric(data-scroll)
                                    - for (var i=0; i < 13; i++)
                                        li.rules_payment_item.button_activation(class= i == 0 ? 'active' : '') Authorize.net
                                            .arrow.arrow__up
                                            .arrow.arrow__down
                        .text-right.m-t.m-b
                            button.button.button__middle.button__transparent(title='Cancel') cancel
                            button.button.button__middle.button__yellow.m-l-xs(title='Safe') safe