extends index0

block main

    block panel_top_configuration
        section.panel_top.panel_top__bottom_md
            .wrapper
                h2.panel_title.panel_title__dark Transaction Summary Report
                .row.m-t
                    .col-1
                        +labelInput(1, 'Date From', 'From')
                    .col-1
                        +labelInput(2, 'Date To', 'To')
                    .col-2
                        +selectSuper('Compare To', 'Pay Pal')
                    .right.m-t-sm
                        button.button.button__big.button__grey(title='Refresh') refresh

    block transactions
        section.main_content.main_content__gray

            section.slider_content.slider_content__total
                .head.head__light
                    .wrapper
                        each val in [['Processor','Title'],['Percentage fee','Transaction'],['Fixed fee','Transaction'],['Count','Transaction'],['Sum','Transaction'],['Total Per','Transaction Fee'],['Total','Percentage Fee'],['Fees Paid','Total']]
                            .slider_col
                                .head_text.head_text__title= val[0]
                                .head_text.head_text__subtitle= val[1]
                .slider_body
                    form
                        - for (var i=0; i < 5; i++)
                            .body_row.body_row__padding_sm.body_row__error
                                .wrapper
                                    each val in ['Authorize.net','2.90','0.30','5.00','169.00','1.50','4.90','6.40']
                                        .slider_col
                                            .table_text= val
                        .body_row.body_row__padding_sm.body_row__error.body_row__total
                            .wrapper.flex
                                .slider_col
                                    .table_text.text-upper.text-black total
                                .slider_col
                                .slider_col
                                .slider_col
                                    .table_text.text-black 5.00
                                .slider_col
                                    .table_text.text-black 169.00
                                .slider_col
                                    .table_text.text-black 1.50
                                .slider_col
                                    .table_text.text-black 4.90
                                .slider_col
                                    .table_text.text-black 6.40
                        .body_row.body_row__padding_sm.body_row__error.body_row__dark
                            .table_text Compare to PAY PAL
                        .body_row.body_row__padding_sm.body_row__error
                            .wrapper
                                each val in ['Authorize.net','2.90','0.30','5.00','169.00','1.50','4.90','6.40']
                                    .slider_col
                                        .table_text= val
                        .body_row.body_row__padding_sm.body_row__error.body_row__total
                            .wrapper.flex
                                .slider_col
                                .slider_col
                                .slider_col
                                .slider_col
                                .slider_col
                                    .table_text.text-upper.text-black Comparision Delta
                                .slider_col.slider_col__red
                                    .table_text.text-black 1.00
                                .slider_col
                                    .table_text 0.00
                                .slider_col.slider_col__red
                                    .table_text.text-black 1.00