include includes/vars
include includes/mixins

doctype html
html(lang='en')
    include includes/blocks/head
    style.
        body { padding-top: 20px; }
        a { color: #ffb600; line-height: 2; }
        a:hover { text-decoration: none; }
    body
        .wrapper
            div: a(href='index1.html') Login
            div: a(href='index2.html') Forgot password