include includes/vars
include includes/mixins

doctype html
html(lang='en')
    include includes/blocks/head
    body
        .wrapper
            div: a(href='index1.html') Login
            div: a(href='index2.html') Forgot password